<!-- Main template for application with navbar and footer-->

{% extends "bootstrap/base.html" %}


{% block title %}
    {% if title %}
        {{ title }} - page
    {% else %}
        Unknown page
    {% endif %}
{% endblock title%} - page

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC" rel="stylesheet">
{% endblock styles %}

{% block navbar %}
    <div class="navbar navbar-inverse navbar-static-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle"
                        data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">My test task</a>
            </div>
            <div class="navbar-collapse collapse" >
                <ul class="nav navbar-nav">
                    <li><a href="#">PAGE1</a> </li>
                    <li><a href="#">PAGE2</a> </li>
                    <li><a href="#">PAGE3</a> </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if current_user.nickname %}
                        <li><a href="{{ url_for('main.profile', nickname=current_user.nickname) }}">{{ current_user.nickname }}</a></li>
                        <li><a href="{{ url_for('main.logout') }}">EXIT</a></li>
                    {% else %}
                        <li><a href="{{ url_for('auth.login') }}">LOG IN</a></li>
                        <li><a href="{{ url_for('auth.register') }}">SIGN IN</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>

{% endblock navbar %}

{% block content %}

{% block footer %}
    <footer class="panel-footer">
        <div class="footer_content">buxta_baraxta@yahoo.com</div>
    </footer>
{% endblock footer %}


{% endblock content %}

